body {
  margin: 0;
  padding: 0;
}

.page-layout {
  height: 100%;
  background-image: url(./assets/img/brand/graduation.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}