.header-body {
  margin-top: 20vh;
}

.heroFont {
  font-size: 4vw;
}

.paraFont {
  font-size: 2vw;
}

.smallFont {
  font-size: 1.5vw;
}

.fontShadow {
  text-shadow: -2px -1px 2px hsl(0, 0%, 0%), 1px 1px 1px hsl(0, 0%, 30%);
  color: white;
}

.book {
  height: 6vh;
}
